# Local Environment Config (Crucial: do not commit API keys or passwords!)
.env

# PHP / Web server local logs and outputs
logs/
*.log
_bak/

# Operating System Files
desktop.ini
Thumbs.db
.DS_Store

# IDE Configurations
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp
